/* You can add global styles to this file, and also import other style files */

/* HOJA DE ESTILOS QUE AFECTA A TODO EL PROYECTO */

h1{
    text-align: center;    
    font-family: 'Courier New', Courier, monospace;
    background-color: black;
    color: white;
}